//add additional body padding when using fixed navbar
body {
  padding-top:70px;
}

// hide iframes
iframe#notify {
  frameBorder:0;
  border:0;
  width:100%;
}

iframe#propresults {
  frameBorder:0;
  border:0;
  width:100%;
}

.tooltip-inner {
  text-align:left !important;
  font-size:13px;
  font-weight:normal;
  max-width: 470px;
  z-index: 9999;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

.max-scroll {
  height:400px;
  overflow:auto;
}
