#sinatra_authentication
  - if Rack.const_defined?('Flash') && flash[:notice]
    #sinatra_authentication_flash= flash[:notice]
  - if Rack.const_defined?('Flash') && flash[:error]
    #sinatra_authentication_flash= flash[:error]
  %form{:action => "/signup", :method => "post"}
    %fieldset
      %legend User data:
      %p
        %label{:for => "user_username"} 
          username
          %input{ :id => "user_username", :name => "user[username]", :size => 30, :type => "text" , :value => params[:username]}
      %p
        %label{:for => "user_password"} 
          Password
          %input{ :id => "user_password", :name => "user[password]", :size => 30, :type => "password" }
      %p
        %label{:for => "user_password_confirmation"} 
          Confirm Password
          %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30, :type => "password" }
    %fieldset
      %legend 
        accessible selections
        %p.checklist
          - selections.each do |sel|
            %input{:type => "checkbox", :id => "sel_access", :name => "user[selections[]]", :value => sel[:selection_name].to_s}
            = sel[:selection_name]
            %br      
    .buttons
      %input{ :value => "Add user", :type => "submit" }
