#dataselection
  %label select datatype to add
  %select{:name => "datatype", :id => "datatype"}
    %option 
      &nbsp;
    %option library
    %option selection 
    %option sequencing dataset
    %option cluster 
    %option target
    %option result
    %option motif list 

#dataform

