%form{:id => "adddata",:action => "/add-user", :method => "post"}
  %fieldset.search-params
    %legend.search-params User data
    %label.control-label{:for => "user_username"} Username
    %input.form-control{ :id => "user_username", :name => "user[username]", :type => "text" , :value => params[:username]}
    %label.control-label{:for => "user_password"} Password 
    %input.form-control{ :id => "user_password", :name => "user[password]", :type => "password" }
    %label.control-label{:for => "user_password_confirmation"} Confirm Password
    %input.form-control{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30, :type => "password" }
  %fieldset.search-params
    %legend.search-params< accessible selections
    .check-select
      - selections.each do |sel|
        .checkbox
          %label
            = sel[:selection_name]
            %input{:type => "checkbox", :id => "sel_access", :name => "selections[]", :value => sel[:selection_name].to_s}>
  %input.btn.btn-primary{ :value => "Add user", :type => "submit" }
