%p.text-justify
  This table shows the amino acid distribution within the selected sequencing dataset. The columns indicate the position within peptide whereas the rows indicate the amino acids in single-letter code. The values represent the deviation from the expectation value of observing the specific amino acid. A value close to "1" indicates that the expectation value was met. While values "&gt;1" or "&lt;1" represent an over- or underrepresentation.
%table.table.table-bordered
  %thead
    %tr
      - distribution.each_value do |row|
        %th 
        - row.each_key do |position|
          %th.text-center 
            = position
        - break
  %tbody
    - distribution.each_pair do |acid, dist|
      %tr
        %td 
          = acid
        - dist.each_value do |value|
          %td{:class => "text-right #{get_cell_color(value)}"} 
            = value
      
