%fieldset
  - if !params['checkedElem'].nil?
    %input{:type => "checkbox", :id => params['all_elem'],:value => params['all_elem_val']}/
    all
    %br
    - @data_to_display.each do |elem|
      %input{:type => "checkbox", :id => "#{elem[@column]}",:value => "#{elem[@column]}"}/
      = elem[@column]
      %br
