#clusterlist  
  = partial :clusterlist, locals: {clusters:@clusters}
- if params.size != 0
  %p 
    all data on selected cluster
    = partial :info_tables, locals: {data_to_display:@cluster_info.where(:cluster_id => "#{params[:sel_cluster]}")}   
