.page-header
  %h2
    Browse by Cluster

%input{:type => "hidden", :id => "navbarsec", :value => "browse"}
.row
  .col-md-3.max-scroll
    #clusterlist  
      = partial :clusterlist, locals: {clusters:@clusters}
  #clbrresults
  #clusterlist_sel{:hidden=> true}
.row
  #clusterlist_pep
