%input{:type => "hidden", :id => "navbarsec", :value => "clusearch"}
#test
  %h3 cluster search
  #clinput
    %form{:id => "cl-search", :action => "#{url '/cluster-results'}", :method => 'get'}
      %label{:for=>"pep-seq"} peptide sequence
      %input{:type => "text", :name => "pep-seq", :id => "pep-seq", :size => 8}
      %input{:type => "submit", :id => "pep-search",:value => "search"}
  #clpepresults.cllist{:hidden => true}

#clsearch{:hidden => true}
  #clprop



  #clusterlist_pep
