#clustertab
  %table{:id=>"show_table",:class => "ui-widget"}<
    %thead.ui-widget-header
      %tr
        %th<>
          sequence
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          dominance sum 
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          gen. spec. 
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        - (0...@max_length).each do |cluster|
          %th<>
            sequence
            %br
            %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
          %th<>
            dominance sum 
            %br
            %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
          %th<>
            spec. score
            %br
            %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
          %th<>
            dataset 
            %br
            %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
          %th<>
            sim. score 
            %br
            %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
    %tbody.ui-widget-content
      - @investigated_cl.each do |row|
        %tr
          %td<>
            =row[:consensus_sequence]
          %td<>
            =format_dominance(row[:dominance_sum])
          %td<>
            tba
          - (0...@max_length).each do |cluster|
            %td<>
              ds 
            %td<>
              ds 
            %td<>
              ds
            %td<>
              ds
            %td<>
              = @scores[row[:consensus_sequence].upcase][1]
