#clustertab
  %input{:id => "max_len", :type => "hidden", :value => @max_length}
  %table{:id=>"compcl_table",:class => "ui-widget"}<
    %thead.ui-widget-header
      %tr
        - @header.each do |cell|
          %th<>
            = cell
            %br
            %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
    %tbody.ui-widget-content
      - @tab_rows.each_value do |row|
        - index = 0
        %tr
          - row.each do |cell|
            - if @is_numeric_cell[index]
              %td.alnright<>
                = cell
            - else
              %td<>
                = cell
            - index += 1
#clusterinfos
