%label.control-label{:for => "editselect"} select element to edit
%select.form-control{:name => "editselect", :id => "editselect" }
  %option{:value => params[:table].to_s.tr('_','-')}< 
    &nbsp;
  - if params[:table] == "targets"
    - @data.each do |elem|
      %option{:value => "#{params[:table].to_s.tr('_', '-')},#{elem[:target_id]}"}<                    
        = "" << elem[:species] << " - " << elem[:tissue] << " - " << elem[:cell]
  - else
    - @data.each do |elem|
      %option{:value => params[:table].to_s.tr('_', '-')}<                    
        = elem[@column]

