#dataselection
  %label select datatype to edit 
  %select{:name => "edittype", :id => "edittype"}
    %option 
      %nbsp
    %option{:value => :libraries} library
    %option{:value => :selections} selection 
    %option{:value => :sequencing_datasets} sequencing dataset
    %option{:value => :clusters} cluster 
    %option{:value => :targets} target
    %option{:value => :results} result
    %option{:value => :motif_lists} motif list 

  #elementselection
  #clusterselection 

#editform

