%select.form-control{:name => para, :id => para, :required => required, :disabled => disabled }
  %option 
    &nbsp;
  - values.each do |elem|
    - if elem[column] == selected
      %option{:selected => true}<                    
        = elem[column]
    - else  
      %option<                    
        = elem[column]
