%label.control-label.col-md-3{:for => label}
  = fieldname 
.col-md-9
  %input.form-control{:type => "text", :name => label, :id => label, :list => listname, :required => req}
  %datalist{:id => listname}
    %label{:for => listlabel}
      or pick exisiting 
      = fieldname
      = partial :formdrop, locals: {para: listlabel, values: dbdata, column: columnname, required: req}

