%table.table.table-bordered
  %thead
    %tr
      %th user
      %th permission level
      %th.text-center{:colspan => 2} options 
  %tbody
    - users.each do |user|
      %tr
        %td
          - if user.username
            = user.username
          - else
            "user #{user.id}"
        %td=get_permission_description(user)
        %td.text-center
          %a.btn.btn-success{:href => "/users/#{user.id}/edit", :class => "editlink"} edit
        %td.text-center
          - if !user.site_admin?
            %a.btn.btn-danger.deletelink{:href => "/users/#{user.id}/delete", :onclick => "return confirm('Are you sure?')"} delete
          - else
            site admin
