%table.ui-widget
  %thead.ui-widget-header
  %tbody.ui-widget-content
    - data_to_display.each do |info|
      - info.each do |column|
        %tr
          %td= column[0].to_s.tr('_', ' ')
          %td= column[1]

