.ui-widget
  %div{:class => "ui-state-highlight ui-corner-all", :id => "highlightbox"}
    %p
      %span{:class => "ui-icon ui-icon-info", :id => "highlightspan"}
        %p All data inserted successfully!
