!!! 5

%html
  %head
    %meta{:charset=>'UTF-8'}
    %script{:src => "/script/jquery-1.10.2.min.js"}
    %script{:type=>"text/javascript", :src => "/script/main.js"}
    %script{:src => "/script/jquery.dataTables.js"}
    %script{:src => "/script/jquery.dataTables.columnFilter.js"}
    // %link{:rel=>"stylesheet", :href=> "/demo_table.css" }
    // %link{:rel=>"stylesheet", :href=> "/demo_page.css" }
    :css
      @import 'demo_table.css'
    %link{ :rel => "stylesheet", :href => "/style.css"}
    %title pepDB main
  %body
    #topbar
    #content
      #left 
        %ul
          %li 
            %a{:href =>"/libraries"} Library
          %li 
            %a{:href =>"/selections"} Selection
          %li 
            %a{:href =>"/datasets"} Sequencing Dataset
          %li 
            Peptides 
            %ul
              %li 
                %a{:href =>"/sys_search"} Systemic Search
              %li 
                %a{:href =>"/prop_search"} Property Search
              %li 
                %a{:href =>"/comp_search"} Comparative Search 
              %li
                %a{:href =>"/mot_search"} Motif Search
          %li 
            %a{:href =>"/clusters"} Clusters
            %ul
              %li
                %a{:href =>"/datasets"} Cluster Search
              %li
                %a{:href =>"/datasets"} Sequencing Dataset
      #right= yield
