!!! 5
%html
  %head
    %meta{:charset=>'UTF-8'}
    %script{:src => "/script/jquery-1.10.2.min.js"}
    %script{:src => "/script/main.js"}
    %script{:src => "/script/jquery.dataTables.min.js"}
    %script{:src => "/script/jquery.dataTables.columnFilter.js"}
    %script{:src => "/script/jquery.jstree.js"}
    %script{:src => "/script/jquery.cookie.js"}
    %script{:src => "/script/tableinit.js"}
    %link{:rel=>"stylesheet", :href=> "/demo_table.css" }
    %link{ :rel => "stylesheet", :href => "/style.css"}
    %title pepDB main
  %body
    #topbar
      #datalinks
        %a{:href => "/add-data", :id => "addlink"} add data
        %a{:href => "/edit-data", :id => "editlink"} edit/delete data
    #content
      #left
        %ul{:id=>'navigation'}
          %li 
            %a{:href =>"/libraries"} Library
          %li 
            %a{:href =>"/selections"} Selection
          %li 
            %a{:href =>"/datasets"} Sequencing Dataset
          %li 
            Peptide 
            %ul
              %li 
                %a{:href =>"/systemic-search"} Systemic Search
              %li 
                %a{:href =>"/property-search"} Property Search
              %li 
                %a{:href =>"/comparative-search"} Comparative Search 
              %li
                %a{:href =>"/motif-search"} Motif Search
          %li 
            %a{:href =>"/clusters"} Cluster
            %ul
              %li
                %a{:href =>"/cluster-search"} Cluster Search
              %li
                %a{:href =>"/comparative-cluster-search"} Comparative Cluster Search
      #right= yield
