!!! 5
%html{:lang=>"en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    = stylesheet_link_tag("/bootstrap/css/bootstrap.min.css", "/bootstrap/css/bootstrap-theme.min.css", "/login.css", "/layout.css")
    =link_favicon_tag
    %title pepDB Login
  %body
    %noscript#noscript-warning
      %p Important parts of pepDB's functionality rely on JavaScript. It's recommended to activate JavaScript on this site.
    .container
      .row
        .col-md-8
          .col-md-6
            = image_tag("/images/pepdb_logo.png", :class => "loginlogo")
          .col-md-6
            %form.form-horizontal{:role=>"form", :action=> "/login", :method => "post"}
              .form-group
                .col-md-12
                  %h4 Please login
              .form-group
                .col-md-12
                  %input.form-control{:id => "user_username", :name => "username", :placeholder => "username", :required => true, :autofocus => true}
              .form-group
                .col-md-12
                  %input.form-control{:id => "user_password", :name => "password", :placeholder => "password", :required => true, :type =>"password"}
              .form-group
                .col-md-12
                  %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"}Login
              -if !flash[:error].nil?
                %div{:class => "alert alert-danger errorbox"}
                  %strong Error!  
                  = flash[:error]
