%table.table.table-bordered.table-striped.table-condensed{:id=>"motinfos"}
  %thead
    %tr
      - @motlists.first.each do |column|
        %th
          = column[0].to_s.tr('_', ' ')
  %tbody
    - @motlists.each do |data_element|
      %tr
        - data_element.each do |cell_data|
          %td= cell_data[1]

