%table{:id=>"motinfos",:class => "ui-widget display"}
  %thead.ui-widget-header
    %tr
      - @motlists.first.each do |column|
        %th
          = column[0].to_s.tr('_', ' ')
  %tbody.ui-widget-content
    - @motlists.each do |data_element|
      %tr
        - data_element.each do |cell_data|
          %td= cell_data[1]

