%h3 Add Motif list 
%form{:id => "adddata", :action => "/validate-data", :method => "post", :target=> "notify"}
  %input{:type => "hidden", :value => "motif", :name => "submittype", :id =>"submittype"}
  %fieldset.mlform
    %legend motif list information:
    %p
      %label{:for => "mlname"}
        %span name:
        %input{:type => "text", :name => "mlname", :id => "mlname", :required => true} 
        %strong 
          %abbr{:title => "required"}*
  %fieldset.mlform
    %legend data file:
    %p
      %label{:for => "pepfile"}
        %span motif list file:
        %input{:type => "file", :name => "motfile", :id => "motfile"}

  %input{:type => "submit", :value => "add motif list"}
  %input{:type => "reset"}
#respage
  %iframe{:name => "notify", :id =>"notify"}

