%table{:border => 1}
  %tr 
  - @output1.first.each do |name|
    %th= name[0].to_s.tr('_', ' ')
  %tr
  - @output1.each do |library|
    - library.each do |column|
      %td= column[1]
    %tr          

%table{:border => 1}
  %tr 
  - @output2.first.each do |name|
    %th= name[0].to_s.tr('_', ' ')
  %tr
  - @output2.each do |library|
    - library.each do |column|
      %td= column[1]
    %tr          
