%select{:name => "peptideselect", :id => "peptideselect" }
  %option 
    &nbsp;
  - @performances.each do |elem|
    %option{:value => elem[:peptide_sequence]}<                    
      = elem[:peptide_sequence]

