- if !@error.nil?
  .ui-widget
    %div{:class => "ui-state-error ui-corner-all", :id => "errorbox" }
      %p
        %span{:class => "ui-icon ui-icon-alert", :id => "errorspan"}
        %strong Error:
        = @error
-else
  %input{:type => "hidden", :id=> "qry_id",:value => @qry_id}
  = partial :tables, locals: {table_id:"pep_table", choice:"",first_data_to_display:@results, second_data_to_display:@results.where(Sequel.lit(@querystring, *@placeholders)).limit(30)}

