%h3 Add Peptide Result 
%form{:id => "adddata", :action => "/validate-data", :target => "notify",:method => "post", :enctype => "multipart/form-data"}
  %input{:type => "hidden", :value => "result", :name => "submittype", :id =>"submittype"}
  %fieldset.resform
    %legend result information:
    %p.formfield
      %label{:for => "perf"}
        %span performance:
        %textarea{:form => "adddata", :name =>"perf", :id => "perf"}
  %fieldset.resform
    %legend target
    %p
      %label{:for => "dspecies"}
        %span species:
        = partial :formdrop, locals:{para: "dspecies", values:@species, column: :species, required: false}
    %p
      %label{:for => "dtissue"}
        %span tissue:
        %select{:name => "dtissue", :id => "dtissue"}
    %p
      %label{:for => "dcells"}
        %span cell:
        %select{:name => "dcell", :id => "dcell"}
  %fieldset.resform
    %legend
      related entities:
      %strong 
        %abbr{:title => "required"}*
    %label{:for => "ddsname"}
      %span sequencing dataset:
      = partial :formdrop, locals:{para: "ddsname", values:@datasets, column: :dataset_name, required: true}
    %p
      %label{:for => "pseq"}
        %span peptide sequence:
        %input{:type => "text", :id => "pseq", :name => "pseq", :required => true}
  %input{:type => "submit", :value => "add result"}
  %input{:type => "reset"}
#respage
  %iframe{:name => "notify", :id =>"notify"}

