%h3 Add Selection
%form{:id => "adddata", :action => "#{url '/validate-data'}", :method => "post", :target => "notify"}
  %input{:type => "hidden", :value => "selection", :name => "submittype", :id =>"submittype"}
  %fieldset.selform
    %legend selection information:
    %p
      %label{:for => "selname"}
        %span name:
        %input{:type => "text", :name => "selname", :id => "selname", :required => true} 
        %strong 
          %abbr{:title => "required"}*
    %p
      %label{:for => "date"}
        %span date:
        %input{:type => "text", :name => "date", :id => "date", :placeholder => "yyyy-mm-dd"} 
    %p
      = partial :datalist, locals: {req: false, label:"perf", fieldname:"performed by:", listname:"perflist", listlabel:"fbperf", dbdata:@performs, columnname: :performed_by}
    %p
      %label{:for => "dtar"}
        %span target:
        %select{:name => "dtar", :id => "dtar"}
          %option
            &nbsp;
          - Target.order(:species).all do |tar|
            %option<
              = "" << tar[:species] << " - " << tar[:tissue] << " - " << tar[:cell]
  %fieldset.selform
    %legend
      related entities:
      %strong 
        %abbr{:title => "required"}*
    %label{:for => "dlibname"}
      %span library:
      = partial :formdrop, locals:{para: "dlibname", values:@libraries, column: :library_name, required: true}
  %input{:type => "submit", :value => "add selection"}
  %input{:type => "reset"}
#respage
  %iframe{:name => "notify", :id =>"notify"}

