//add additional body padding when using fixed navbar
body {
  padding-top:70px;
}

// hide iframes
iframe#notify {
  frameBorder:0;
  border:none;
  border:0;
  width:100%;
}

#respage {
  frameBorder:0;
  border:0;
  width:100%;
}

iframe#propresults {
  frameBorder:0;
  border:0;
  width:100%;
}

body.no-pad {
  padding-top:0px;
}

.modal-amino {
  width:50%;
}
.tooltip-inner {
  text-align:left !important;
  font-size:13px;
  font-weight:normal;
  max-width: 470px;
  z-index: 9999;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

.max-scroll {
  height:700px;
  overflow:auto;
}

.check-select {
  border:1px solid #ccc;
  height:150px;
  overflow-y:scroll;
  padding:4px;
  padding-top:0;
  margin-top:2px;
}

.mot-select {
  border:1px solid #ccc;
  height:250px;
  overflow-y:scroll;
  padding:4px;
  padding-top:0;
  margin-top:2px;
}
fieldset.search-params {
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.search-params {
  font-size: 1.2em !important;
  text-align: left !important;
  font-weight:bold !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
  margin-bottom:0;
}

/*amino acid distribution color definitions */
.whitecell{
  border:1px solid;
}
.darkbluecell {
  background-color:#0033FF;
  color:white;
}

.lightbluecell {
  background-color:#33CCFF;
}

.darkredcell{
  background-color:#990000;
  color:white;
}
.lightredcell{
  background-color:#FF3300;
  color:white;
}

.row-separator {
  border-bottom: 1px solid;
}


/* disable navbar responsiveness*/
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
