// variables
$sidebar-color: #A0A0A0;
// general
html{
  height:100%;
  width:100%;
}


body {
  color: black;
  background-color: white;
  font-size: small;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  width: 100%;
  height:100%;
  overflow:auto;
 // padding: 1em;

}

fieldset {
  &.selform, &.libform, &.mlform, &.dsform, &.resform, &.tarform, &.clform{
    width:75%;
  }
}

#show_table {
  width:40%;
}

#selectdata {
  overflow:auto;
}
#infos {
  clear:both;
}

.formfield * {
  vertical-align:middle;
}

fieldset.checklist {
  border: 0;
  padding: 0;
}

// prop-search
#properties {
  border:1px;
  float:left;
  width: 33%;
}

#disp-res {
  border: 1px;
  float:left;
  width:66%;
}

fieldset#first{
  float:left;
  width: 24%;
}
fieldset#second{
  float:left;
  width: 24%;
}
fieldset#third{
  float:left;
  width: 24%;
}
fieldset#fourth{
  float:left;
  width: 24%;
}
fieldset#fifth{
  clear:both;
  float:left;
}
fieldset#sixth{
  float:left;
}
fieldset#seventh{
  float:left;
}

#bottom {
  clear:both;
}

fieldset p {
  clear:both;
  padding: 1px;
  margin: 1px;
}

div#checkboxes {
  position: relative;
  width: 100%;
}

div {
  &.ref-select, &.comp-select, &.check-select{
    position: relative;
    border: 1px solid #ccc;
    width: 6em;
    height: 4em;
    overflow-y: scroll;
  }
}

#ref-data {
  clear:both;
}

#comp-buttons {
  clear:both;
  width: 45%;
}

#comp-library, #comp-selection, #comp-dataset, #ref-library, #ref-selection, #ref-dataset, #check-library, #check-selection, #check-dataset {
  width: 25%;
  position: relative;
  float: left;
}

.highlight td{
  background-color: green;
  cursor: pointer;
}

ul {
  list-style-type:none;
}
#clusterlist {
  border:none;
  float:left;
  width:25%;
}
#clusterlist_sel{
  float:left;
  width:50%;
}
#clusterlist_pep {
  overflow-x:scroll;  
}

ul#navigation{
  margin-right:0.5em;
  margin-left:0.5em;
  margin-top:0.5em;
}
/*
ul#navigation {
  overflow:hidden;
  list-style-type: none;
  font-size: 0.91em;
  //float: left;
  width: 15em;
  margin: 0;
  padding: 0em;
  background-color: $sidebar-color;
 // border: 1px dashed;

  li { margin:0; padding: 0.1em; }
  a { 
    display: block;
    padding: 0.2em;
  }
  a:link {
    color: black;
    background-color: $sidebar-color;
  }
}
*/
#left {
  float:left;
  overflow:hidden;
  width:17%;
}
#right {
  float: left;
  //margin-left: 15em;
  //margin-right: 0.4em;
  width: 80%;
  //min-width: 10em;
  overflow:hidden;


}
div#results{
  float:left;
  width: 50%;
}
div#clinput {
  float:left;
  width:15%;
  #pep-search{
    float:left;
  }
  #pep-seq, label{
    display:block;
  }

}

#dataselection {
  float:left;
  width: 30%;
}

#dataform {
  float:left;
  width: 70%;
}

#content {
  width: 100%;
  height: 100%;
 # overflow:auto;
}

.text_filter {
  width:100%;
}

#clsearch{
  clear:both;
}

#clinfos{
  float:left;
  width: 30%;
}
 
#clpeps {
  float:left;
  width: 40%;
}

#motif-select {
  clear:left;
} 

div#motif-list {
  float:left;
  width: 10em;
}
div#motifs {
  float:left;
  width: 10em;
}

#datalinks {
  position:absolute;
  right:0;
  bottom:0;
}

#topbar {
  position:relative;
  height: 100px;
  width: 100%;
  background-color: grey;
}


// add forms
label span {
  display: inline-block;
  width: 10em;
  text-align: right;
}

p.reqfield {
  font-size:small;
}

div{
  &#errorbox, &#highlighbox{
  padding: 0 .2em;
  }
}

#errorspan , #highlightspan{
  float:left;
  margin-right: .3em;
}

iframe#notify {
  frameBorder:0;
  border:0;
  width:100%;
}

