!!! 5
%html
  %head
    %meta{:charset => 'UTF-8'}
    = javascript_script_tag("/script/jquery-1.10.2.min.js", "/script/jquery-ui-1.10.3.custom.min.js")
    = stylesheet_link_tag("/jquery-ui-1.10.3.custom.min.css", "/style.css")
  %body
    .ui-widget
      %div{:class => "ui-state-highlight ui-corner-all", :id => "highlightbox"}
        %p
          %span{:class => "ui-icon ui-icon-info", :id => "highlightspan"}
            %p
              = @message 
