!!! 5
%html
  %head
    %meta{:charset => 'UTF-8'}
    = javascript_script_tag("/script/jquery-1.10.2.min.js", "/script/jquery-ui-1.10.3.custom.min.js")
    = stylesheet_link_tag("/jquery-ui-1.10.3.custom.min.css",  "/style.css")
  %body
    - errors.each do |error|
      .ui-widget
        %div{:class => "ui-state-error ui-corner-all", :id=> "errorbox"}
          %p
            %span{:class => "ui-icon ui-icon-alert", :id => "errorspan"}
            %strong Error:
            = error[1]

